<!DOCTYPE html>
<html>
<head>
  <title>Calligraph</title>
  <%= stylesheet_link_tag    "calligraph/application", media: "all" %>
  <%= javascript_include_tag "calligraph/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
